---
import * as interfaces from '../../lib/interfaces.ts';
import { snakeToKebab } from '../../lib/style-helpers.ts';
import RichText from './RichText.astro';
import NotionBlocks from '../NotionBlocks.astro';

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
}

const { block, headings } = Astro.props;
---

<div class={`callout ${snakeToKebab(block.Callout.Color)}`}>
  {
    block.Callout.Icon && (
      <div class="icon">
        {block.Callout.Icon.Type === 'emoji' ? (
          block.Callout.Icon.Emoji
        ) : block.Callout.Icon.Type === 'external' ? (
          <img src={block.Callout.Icon.Url} alt="Icon in a callout block" />
        ) : null}
      </div>
    )
  }
  <div>
    {
      block.Callout.RichTexts.map((richText: interfaces.RichText) => (
        <RichText richText={richText} />
      ))
    }
    {
      block.Callout.Children && (
        <NotionBlocks blocks={block.Callout.Children} headings={headings} />
      )
    }
  </div>
</div>

<style>
  .callout {
    display: flex;
    gap: 0.75rem;
    margin: 1.1em auto;
    padding: 0.9rem 1.1rem;
    width: 100%;
    max-width: 920px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    border-radius: var(--radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--callout-border);
    background: var(--callout-bg);
  }
  .callout > div {
    margin: 0;
    line-height: 1.8;
  }
  .callout > div.icon > img {
    width: 1.2rem;
    height: 1.2rem;
  }
</style>
