---
import {
  getTimelineByPage,
  getNumberOfTimelinePages,
} from '@lib/notion/client.ts';
import Layout from '@layouts/Layout.astro';
import NoContents from '@components/NoContents.astro';
import TimelineCard from '@components/TimelineCard.astro';
import Pagination from '@components/Pagination.astro';
import styles from '@styles/blog.module.css';

export async function getStaticPaths() {
  const numberOfPages = await getNumberOfTimelinePages();

  let params = [];
  for (let i = 2; i <= numberOfPages; i++) {
    params.push({ params: { page: i.toString() } });
  }
  return params;
}

const { page } = Astro.params;

const [entries, numberOfPages] = await Promise.all([
  getTimelineByPage(parseInt(page, 10)),
  getNumberOfTimelinePages(),
]);
---

<Layout
  title={`Timeline ${page}/${numberOfPages}`}
  path={`/timeline/page/${page}`}
>
  <div slot="main" class={styles.main}>
    {
      entries.length === 0 ? (
        <NoContents contents={entries} />
      ) : (
        entries.map((entry) => (
          <TimelineCard
            entry={entry}
            key={`${entry.source}-${entry.post.PageId}`}
          />
        ))
      )
    }

    <footer>
      <Pagination
        currentPage={parseInt(page, 10)}
        numberOfPages={numberOfPages}
        basePath="/timeline"
        rootPath="/"
      />
    </footer>
  </div>
</Layout>
